# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Node
# =========================
node_modules/
.next/
dist/

# =========================
# Go
# =========================
bin/
*.exe
*.out

# =========================
# OS
# =========================
.DS_Store